html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
}
body {
  line-height: 1;
  overflow: hidden;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  letter-spacing: .5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, .5);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, .5);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, .5);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, .5);
}

#chooseNameOverlay {
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
}

#form {
  margin: 38vh auto;
  display: block;
}

#form button {
  background-color: #00457D;
  border: none;
  font-size: 24px;
  padding: 10px 30px;
  color: white;
  letter-spacing: 1px;
  margin-top: 1em;
  display: block;
  margin: 1em auto;
}

button:hover, a:hover {
  cursor: pointer;
}

#form input {
  border: none;
  outline: none;
  font-size: 24px;
  color: white;
  border-bottom: 2px solid white;
  background-color: transparent;
  padding: 6px 12px;
  display: block;
  margin: 0 auto;
}

.roll {
  transition: transform 9.5s cubic-bezier(.31,.9985,.31,.9985);
}


#nousername {
  position: relative;
  display: none;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
}

#playersInfo, #gameSection {
  display: inline-block;
}

#playersInfo {
  width: 20%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  background-color: #00457D;
  color: white;
  font-size: 32px;
}

#profile p, #winningHistory p {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  background-color: #00457D;
  z-index: 10;
  position: relative;
}

#welcoming, #currentbalance {
  padding-top: 50px !important;
}

#profile, #winningHistory, #prHR {
  display: none;
}

.down, .down * {
  transition: all .75s ease;
}

#prHR {
  margin: 0;
}

#money {
  padding-bottom: 1.05em !important;
}

#history tr {
  padding: 0 5px;
}

#history tr td {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 22px;
  padding: 8px 0;
}

#history {
  width: 100%;
  z-index: 1;
  margin-top: -76px;
}

#gameSection {
  width: 76%;
  margin-left: 22%;
}

#packages {
  height: 14em;
  width: 100%;
  margin-top: 1.5em;
  overflow-x: auto;
  white-space: nowrap;
}

.spinItem {
  position: relative;
  z-index: -10;
  height: 10em;
  width: 9.95em;
  display: inline-block;
  background-color: transparent;
  line-height: 9em;
  text-align: center;
  border-left: .05em solid rgba(0, 0, 0, .5)
}

.spinItem:first-child {
  margin-left: -50em;
}

#spinner {
  z-index: -100;
  height: 10em;
  padding-left: 50%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 20px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 20px 6px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 20px 6px rgba(0,0,0,0.75);
}

#extras {
  height: 20em;
  padding-top: 4em;
  white-space: nowrap;
}

#historyP {
  padding: calc(.45em + 10px) 0 !important;
  background-color: #00457D;
  z-index: 10;
}

#miniArrow {
  position: absolute;
  float: left;
  margin: 0 calc(37.75% - 20px);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
}

#extras div {
  padding: 60px;
  content: "";
  width: 24.925%;
  display: inline-block;
  background-color: #00457D;
  color: white;
  vertical-align: top;
}

#extras div div {
  padding: 0;
}

#spinBtn{
  width: 100% !important;
}

#spinnerBtn {
  background-color: #63C900;
  border: none;
  outline: none;
  color: white;
  padding: 25px 50px;
  font-size: 64px;
  letter-spacing: 1px;
  margin: 0 auto;
  display: block;
}

#spinnerBtn:hover {
  color: #63C900;
  background-color: white;
}

#spinnerBtn:active {
  -webkit-box-shadow: inset 0px 0px 20px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 20px 6px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 20px 6px rgba(0,0,0,0.75);
}

.activeBtn {
  -webkit-box-shadow: inset 0px 0px 20px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 20px 6px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 20px 6px rgba(0,0,0,0.75);
}

#spinnerOptions {
  text-align: center;
  margin-top: 3em;
  font-size: 23px;
}

.Fpackage, .package {
  background-color: #63C900;
  text-align: center;
  width: 45%;
  color: white;
  padding: 20px 0;
  display: inline-block;
  height: 10em;
}

.package h2, .Fpackage h2{
  font-size: 28px;
}

.package ul li, .Fpackage ul li {
  padding: 5px 0;
}

.selected {
  border: 5px solid rgba(0, 0, 0, .5)
}

.package {
  margin-left: 3em;
}

.cost {
  font-size: 24px;
}

#packName {
  font-size: 26px;
}

#selPackage ul {
  width: 100%;
}

#selPackage ul li {
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

#spinnerOptions {
  display: block !important;
  width: 100% !important;
  text-align: center !important;
}

#leaderboard {
  height: 198px;
}

#leaderboard h2 {
  font-size: 26px;
  width: 100%;
  text-align: center;
}

#leaderboard ul {
  width: 100%;
  margin-top: .5em;
  overflow-y: auto;
  height: 11em;
}

#leaderboard ul li {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 5px 0;
}